numpy
pandas
matplotlib
seaborn
plotly
scikit-learn
xgboost
lightgbm
tldextract
python-whois
ipwhois
dnspython
fuzzywuzzy
requests
streamlit
torch
transformers
huggingface_hub
joblib
psutil
